#landing{
	text-align: center;
	padding: 50px;
	margin-bottom: 120px;

}
#bandName{
	font-size: 200px;
	padding-top: 10px;
	padding-left: 90px;
	padding-right: 90px;
	padding-bottom: 90px;
	font-family: 'Six Caps', sans-serif;
	letter-spacing: 20px;
	font-weight: -50%;
}
button{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:30px 65px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
button:active {
	position:relative;
	top:1px;
}

nav{
	text-align: center;
	font-size:24px;
	font-weight: 20;
	margin-bottom: 45px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
}
a{
    text-decoration: none;
}
a:link{
	color: white;
}
a:visited:{
	color: yellow;
}
a:hover{
	color: black;
}
a:active{
	color: red ;
}
body{
	margin: 0;
	line-height: 1.5em;
	font-size: 16px;
	background: -webkit-linear-gradient(#383838, #2B2B2B);
	background:-moz-linear-gradient(#383838, #2B2B2B);
	background:-o-linear-gradient(#383838, #2B2B2B);
	background:linear-gradient(#383838, #2B2B2B);
}
p{
	font-size: 16px;
	text-align: center;
}
#videos{
	white-space: 0px;
	padding: 0px;
}
footer{
	text-align: center;
}