.top{
	text-align: center;
	padding: 4.3%;
	position: relative;
	overflow: hidden;

}
.backgroundVideo{
	z-index: -1;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	overflow: hidden;
    width: 100%;
}
#bandName{
	font-size: 200px;
	padding-top: 10px;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 70px;
	font-family: 'Six Caps', sans-serif;
	letter-spacing: 20px;
	font-weight: -50%;
	color: #f6f6f6;
	position: relative;
}
.buttonContainer{
	margin-left: 20%;
	margin-right: 20%;
}
button{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:0px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:30px 65px;
	text-decoration:none;
}



nav{
	font-family:Arial;
	font-size:24px;
	font-weight: 20;
	margin-bottom: 45px;
	color: #f6f6f6;
	margin-left: 33%;
    margin-right: 33%;
}
nav ul{
    list-style-type: none;

}
nav li {
    display: inline;
    margin-left: 6%;
    margin-right: 6%;
}
a{
	text-decoration: none;
}
.navLink:link{
	color: #f6f6f6;
}
.navLink:visited{
	color: #f6f6f6;
}
.section{
	padding: 10%;
}
body{
	margin: 0;
	line-height: 1.5em;
	font-size: 16px;
	background: -webkit-linear-gradient(#383838, #2B2B2B);
	background:-moz-linear-gradient(#383838, #2B2B2B);
	background:-o-linear-gradient(#383838, #2B2B2B);
	background:linear-gradient(#383838, #2B2B2B);
}
p{
	font-size: 16px;
}
footer{
	text-align: center;
}